

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
static/
frontend
frontbuild
# Backup files # 
*.bak 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Only for Development only
**/migrations/**
!**/migrations
!**/migrations/__init__.py


dist
build
**.egg-info